@media screen and (max-width: 480px) {
  .text {
    font-weight: bold;
    color: #FFF;
    font-size: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url('https://s2.loli.net/2023/12/04/NPBpjrZTwMXu5DA.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  font-weight: bold;
  color: #FFF;
  font-size: 54px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
