html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url('https://s2.loli.net/2023/12/30/DJhagHrTtSVw273.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.text {
  font-weight: bold;
  color: #FFF;
  font-size: 58px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  white-space: pre-wrap;
  max-width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bigbig {
  border: 5px solid red;
  padding: 10px;
  font-size: 68px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .text {
    font-size: 90px;
  }

  .bigbig {
    font-size: 92px;
  }
}
